@charset "UTF-8";

.header {
font-family: "Franklin Gothic Bold", "Arial Black", "sans-serif";
   font-weight: bold;
   color: #00;
    font-size: 10550;
    text-shadow: 5px 6px 12px #004085;
	text-align: center}
	
.beach {
	filter: drop-shadow(30px 10px 4px #4444dd);
	
}

.rainfall {
	filter: drop-shadow(30px 10px 4px #4444dd);
	display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.waterfall {
	filter: drop-shadow(30px 10px 4px #4444dd);
	float: right;
}

.beachlink {
	font-family: "Franklin Gothic Bold", "Arial Black", "sans-serif";
   font-weight: bold;
   color: #000;
    font-size: 10550;
    text-shadow: 5px 6px 12px #004085;}


.rainfalllink {
	font-family: "Franklin Gothic Bold", "Arial Black", "sans-serif";
   font-weight: bold;
   color: #000;
    font-size: 10550;
    text-shadow: 5px 6px 12px #004085;
	text-align: center;
	align-content: center;
	  display: block;
 
	
}

.waterfalllink {
	font-family: "Franklin Gothic Bold", "Arial Black", "sans-serif";
   font-weight: bold;
   color: #000;
    font-size: 10550;
    text-shadow: 5px 6px 12px #004085;
	float: right;
	  display: block;
  text-align: right;
}







